/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F4F6F7;
}

/* Wrapper */
#wrapper {
    background-color: #28688C;
    box-shadow: 1px 5px 25px 3px #444;
    border-radius: 10px;
    width: 100vw;
    padding: 10px;
    color: white;
    overflow: hidden;
    background: url('https://i.postimg.cc/2y8wPwX3/7cd57f8b757aea1e128f2f8f6b2c1983.gif') no-repeat;
    background-size: cover;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 100vw;
}

/* .gmap {
    display: none;
} */

.container-fluid {
    background: transparent;
    margin-top: 50px !important;
    margin: 30px;
    padding: 20px;
    width: 60%;
    min-width: 600px;
    border-radius: 10px;
}

/* Current Weather */
#current-weather {
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
    max-width: 1000px;
    min-width: 500px;
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* Search Box */
.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search_box {
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid wheat;
}

input[type='text'] {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 0;
    background-color: transparent;
    color: #F4F6F7;
}

button {
    padding: 10px 20px;
    background-color: #28688C;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.search_box:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #1A4B63;
    transform: scale(1.05);
}

/* Weather Details */
.cloud_images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.temprature {
    text-align: center;
}

.cloud_image_02 {
    width: 100px;
    height: 100px;
}

/* Side Weather Info */
.side-weather-info {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* Footer */
a {
    color: white;
    opacity: 0.6;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: white;
    text-decoration: none;
    opacity: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: -100px;
}

.temp_type {
    text-align: center;
    width: 80%;
    margin-top: -20px;
    font-size: 15px;
}

/* Weekly Forecast */
.weekly-forecast-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.forecast_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.weekly-forecast-item {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
    margin: 10px;
    flex-basis: calc(33.33% - 20px);

    /* Use media query to change flex-basis for smaller screens */
    @media (max-width: 768px) {
        flex-basis: calc(50% - 20px);
        /* Two items in each row for smaller screens */
    }
}

.gmap {
    margin: auto;
    text-align: center;
}

.gmap_canvas {
    width: 100%;
    height: 500px;
    /* Adjust the height as needed */
}



.current-day {
    font-weight: bold;
}

.current-date {
    margin-top: 5px;
}

.current-temp {
    margin-top: 10px;
}

.day-temp,
.night-temp {
    margin-top: 5px;
}

.feels_like>h2 {
    font-size: small;
}

.forecast_image_02 {
    width: 50px;
    height: 50px;
}